@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calculator";
}

<div id="calc">
    <form>
        <br />

        <h4>Enter the following as percents with no decimals or signs</h4>

        <br />

        <label for="assign">Assignment Average: </label><input type="text" id="assign" class="rounded" /><br />
        <br />
        <label for="group">Group Project Average: </label><input type="text" id="group" class="rounded" /><br />
        <br />
        <label for="quiz">Quiz Average: </label><input type="text" id="quiz" class="rounded" /><br />
        <br />
        <label for="mid">Midterm Average: </label><input type="text" id="mid" class="rounded" /><br />
        <br />
        <label for="final">Final Exam Score: </label><input type="text" id="final" class="rounded" /><br />
        <br />
        <label for="intex">Intex Score: </label><input type="text" id="intex" class="rounded" /><br />
        <br />

        <button type="button" id="sub" onclick="calGrade()" class="btn btn-secondary">Calculate Grade</button>
        <button type="reset" id="clear" class="btn btn-secondary" onclick="hideScore()">Clear</button>
    </form>
    <br />
    <h4 style="display: none; color: green;" id="total">Final Grade: </h4>
</div>