@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission_5_alley725";
}


<h1>Welcome to Andrew Alley's Misson_5 site</h1>

<div id="media">
    <img src="img/bass_guitar.jpg" alt="me playing bass at a concert" />
    <h4>This is a picture of me playing the bass guitar at an outdoor concert</h4>
</div>

<div id="learn" style="text-align: center;">
    <p>
        This semester in IS 413 the main thing I want to learn is just how to be a better self-learner.
        I like the way this class is structured where what we learn is fully dependant on how much time we
        are willing to invest in watching the videos and doing the assignments.
        I also want to become more familiar with OOP concepts and how to use them in a strongly-typed language.
    </p>
</div>

<div id="jobs">
    <h4>Jobs I am interested in:</h4>
    <ol>
        <li>Full-stack Developer</li>
        <li>Software Consultant</li>
        <li>Data Engineer</li>
    </ol>
</div>

<div style="text-align: center;">
    <p>Check out the <a asp-controller="Blah" asp-action="Calculator">Grade Calculator</a> I made in JavaScript</p>
</div>
