#calc {
    text-align: center;
    background-color: beige;
    margin-top: 100px;
}

label{
    display: inline-block;
    width: 300px;
}

input{
    width: 400px;
}

h1{
    text-align: center;
}

#media{
    text-align: center;
}

#media img{
    height: 300px;
    width: 400px;
}

#jobs{
    margin-left: 400px;
}